{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
    <h1>Update Record:</h1>
    <br><br>
    <form method="POST">
        {% csrf_token %}    
        {{form.as_p}}
        <div class="row">
            <div class="col-6">
              <a href="{% url 'record' pk%}" class="btn btn-light btn-lg" role="button" aria-disabled="true">    <i class="fas fa-arrow-alt-circle-left"></i>
                  BACK!</a>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
          </div>
        <br>
    </form>    

</div>


{% endblock %}
